:host {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #0F0F0F;

    .title {
        font-size: 40px;
        font-weight: 700;
        color: white;
    }

    .container {
        padding: 1.125rem;
        width: 100%;
    }

    .book{
        width: 40px;
    }

    .books{
        margin-top: 30px;
    }

}