:host {
    display: flex;
    width: 100%;
    background-color: #0F0F0F;

    .title {
        font-size: 100px;
        font-weight: 700;
        color: white;
    }

    .container {
        padding: 1.125rem;
        width: 100%;
    }

    .book{
        width: 40px;
    }

    .books{
        margin-top: 30px;
    }

    .content{
        margin-top: 60px;
    }

    span{
        overflow: hidden;
    }

    span:nth-child(1) > app-text{
        transform: translateY(100%);
    }

    span:nth-child(2) > app-text{
        transform: translateY(100%);
    }

    .title-popup{
        font-size: 26px;
    }

    .steps-job{
        padding: 10px;
        border: 1px solid #000000;
        border-radius: 10px;
    }

}