:host {
    
    height: 100vh;
    width: 100vw;
    overflow: hidden;


    app-text, app-icon {
        color: white;
    }

    .wrapper{
        display: block;
        height: calc(100vh - 40px);
        width: calc(100% - 40px);
        margin: 1.125rem;
        overflow: hidden;
    }

    .container {
        background-color: #0F0F0F;
        height: calc(100vh - 82px);
        border-radius: 10px;
        padding: 20px;

        .nav {
            justify-content: flex-end;

            a {
                margin-right: 50px;
                color: white;
            }
        }

        .banner {
            margin: auto;

            .introduction {
                font-size: 100px;
                font-weight: 700;
            }

            .tips {
                align-self: center;
                margin: 50px;
                padding: 10px;
                border: 1px solid #ffffff;
                border-radius: 10px;
                overflow: hidden;
            }
        }
    }

    .bottom{
        align-self: center;
    }

    .contact{
        height: 26px;
        width: 27px;
        border-radius: 5px;

        img{
            width: 20px;
        }
    }

    .linkedin{
        background-color: #0274B3;
    }

    .github{
        background-color: #ffffff;
    }

    .anim{
        overflow: hidden;
        margin-right: 20px;
    }

    .anim:last-child{
        margin-right: 0;
    }

    .text-underline{
        transition: width .5s;
        width: 0;
    }

    .link:hover{
        .text-underline{
            width: 100%;
            height: 2px;
            background-color: white;
        }
    }
}