:host {
    
    height: 100vh;
    width: 100vw;
    overflow: hidden;


    app-text, app-icon {
        color: white;
    }

    .wrapper{
        display: block;
        height: calc(100vh - 40px);
        width: calc(100% - 40px);
        margin: 1.125rem;
        overflow: hidden;
    }

    .container {
        background-color: #0F0F0F;
        height: calc(100vh - 82px);
        border-radius: 10px;
        padding: 20px;

        .nav {
            justify-content: flex-end;

            a {
                margin-right: 50px;
                color: white;
            }
        }

        .banner {
            margin: auto;
            .intro-container{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }


            .introduction {
                font-size: 100px;
                font-weight: 700;
                transform: translateY(355px);
                transition: transform .5s;
            }

            .tips {
                align-self: center;
                margin: 50px;
                padding: 10px;
                border: 1px solid #ffffff;
                border-radius: 10px;
                overflow: hidden;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

                app-text {
                    transform: translateY(-400px);
                    transition: transform .5s;
                }
            }
        }
    }

    .bottom{
        align-self: center;
    }

    .contact{
        height: 26px;
        width: 27px;
        border-radius: 5px;

        img{
            width: 20px;
        }
    }

    .linkedin{
        background-color: #0274B3;
    }

    .github{
        background-color: #ffffff;
    }

    .anim{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

        div{
            margin-right: 20px;
        }

        div:nth-child(even){
            transform: translateY(400px);
            transition: transform .5s;
        }

        div:nth-child(odd){
            transform: translateY(-400px);
            transition: transform .5s;
        }
    }

    .anim:last-child{
        margin-right: 0;
    }

    .text-underline{
        transition: width .5s;
        width: 0;
    }

    .link:hover{
        .text-underline{
            width: 100%;
            height: 2px;
            background-color: white;
        }
    }
}