:host{
    .container {

        .type{
            color: #777777;
            font-weight: 700;
        }
    }

    .has-margin-top{
        margin-top: 50px;
    }

    .has-margin-top-2{
        margin-top: 20px;
    }

    .has-margin-left{
        margin-left: 30px;
    }
}