<div class="container is-flex is-column">
    <div class="text is-flex">
        <app-text class="title-project">P</app-text>
        <app-text class="title-project">R</app-text>
        <app-text class="title-project">O</app-text>
        <app-text class="title-project">J</app-text>
        <app-text class="title-project">E</app-text>
        <app-text class="title-project">C</app-text>
        <app-text class="title-project">T</app-text>
        <app-text class="title-project">S</app-text>
    </div>
    <div class="content is-flex">
        <ng-container *ngFor="let project of projects">
            <app-project-card [routerLink]="'project/'+project.id" class="is-cursor-pointer" [project]="project"></app-project-card>
        </ng-container>
    </div>
</div>