<div class="container is-flex is-column">
    <div class="text is-flex">
        <span><app-text class="title animate">P</app-text></span>
        <span><app-text class="title animate">R</app-text></span>
        <span><app-text class="title animate">O</app-text></span>
        <span><app-text class="title animate">J</app-text></span>
        <span><app-text class="title animate">E</app-text></span>
        <span><app-text class="title animate">C</app-text></span>
        <span><app-text class="title animate">T</app-text></span>
        <span><app-text class="title animate">S</app-text></span>
    </div>
    <div class="content is-flex">
        <ng-container *ngFor="let project of projects">
            <app-project-card class="l-margin-right" [project]="project"></app-project-card>
        </ng-container>
    </div>
</div>