:host {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 1.125rem;

    .title{
        font-size: 100px;
        font-weight: 700;
    }

    .content{
        margin: auto;
    }

    span{
        overflow: hidden;
    }

    span:nth-child(1) > app-text{
        transform: translateY(100%);
    }

    span:nth-child(2) > app-text{
        transform: translateY(100%);
    }

    span:nth-child(3) > app-text{
        transform: translateY(100%);
    }

    span:nth-child(4) > app-text{
        transform: translateY(100%);
    }

    span:nth-child(5) > app-text{
        transform: translateY(100%);
    }

    span:nth-child(6) > app-text{
        transform: translateY(100%);
    }

    span:nth-child(7) > app-text{
        transform: translateY(100%);
    }

    span:nth-child(8) > app-text{
        transform: translateY(100%);
    }

}