<div class="container is-flex is-column">
    <div class="text is-flex">
        <app-text class="title animate">P</app-text>
        <app-text class="title animate">R</app-text>
        <app-text class="title animate">O</app-text>
        <app-text class="title animate">J</app-text>
        <app-text class="title animate">E</app-text>
        <app-text class="title animate">C</app-text>
        <app-text class="title animate">T</app-text>
        <app-text class="title animate">S</app-text>
    </div>
    <div class="content is-flex">
        <ng-container *ngFor="let project of projects">
            <app-project-card [routerLink]="'project/'+project.id" class="l-margin-right is-cursor-pointer" [project]="project"></app-project-card>
        </ng-container>
    </div>
</div>