:host{
    .card{
        height: 30px;
        width: 30px;
        border-radius: 5px;
        background-color: #DADADA;

        img{
            width: 20px;
        }

    }

    .name{
        color: #ffffff;
        font-size: 5px;
        margin-top: 2px;
    }
}