:host {
    display: flex;
    width: 100%;

    .container{
        margin: 4.125rem 1.125rem;
        width: 100%;
    }

    .title{
        font-size: 100px;
        font-weight: 700;
    }

    .contact{
        height: 26px;
        width: 27px;
        border-radius: 5px;

        img{
            width: 20px;
        }
    }

    .linkedin{
        background-color: #0274B3;
    }

    .github{
        background-color: #ffffff;
    }


    @media screen and (max-width: 910px) {
        .container{
            flex-direction: column;
        }
    }

    @media screen and (max-width: 550px) {
        .title{
            font-size: 60px;
        }
    }
}