:host{
    app-card-container{
        min-width: 0;
        max-width: 350px;

        .description{
            margin-top: 50px;
        }
    }

    .container{
        margin: 4.125rem 1.125rem;

        .title{
            font-size: 90px;
            font-weight: 900;
        }
    }

    .cover{
        img{
            border-radius: 10px;
        }
    }

    .detail-titles{
        app-text{
            color: #666666;
            margin-right: 35px;
            margin-top: 28px;
        }
    }

    .detail-descs{
        app-text{
            color: #ffffff;
            margin-top: 28px;
        }
    }

    .short{
        margin-top: 50px;
    }

    .app-pictures{
        transform: translateY(10%);
        img{
            margin: 20px;
            width: 80%;
            border-radius: 10px;
        }
    }

    @media screen and (max-width: 1140px) {
        .short{
            flex-direction: column;

            div{
                justify-content: start;
            }
        }

        app-card-container{
            margin-right: 20px;
        }

        .short-description{
            margin-top: 40px;
        }
    }

    @media screen and (max-width: 690px) {
        app-card-container{
            margin-right: 0;
            min-width: 0;
        }

        .short-description > div{
            flex-direction: column;
        }
    }

    @media screen and (max-width: 450px) {
        .title-project {
            font-size: 50px !important;
        }

        .cover{
            height: 300px !important;
            width: 300px !important;

            img {
                width: 300px !important;
            }
        }

    }
}