:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 11.125rem 1.125rem;

    .text-description{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .title-description{
        font-size: 90px;
        font-weight: 700;
        transform: translateY(150px);
        transition: transform .5s;
    }

    .subtitle{
        font-size: 36px;
        font-weight: 500;
    }

    .content{
        margin-top: 60px;
        img{
            border-top-right-radius: 20px;
            border-bottom-left-radius: 40px;
        }
    }

    .desc{
        width: 38%;
        margin-left: 140px;
    }

    .description{
        margin-top: 90px;

        .part{
            margin-bottom: 50px;
        }

        .number{
            margin-right: 20px;
            font-weight: 700;
        }

        .detail{
            
            .detail-title{
                margin-bottom: 20px;
                font-weight: 700;
            }

            .detail-desc{
                font-size: 14px;
            }
        }
    }

    .bottom{
        text-decoration: underline;
    }
    
}