<div class="container is-flex is-column">
    <span class="is-flex"><app-text class="title animate">WHAT CAN I SAY ABOUT</app-text></span>
    <span class="is-flex"><app-text class="title animate">ME ?</app-text></span>
    <div class="content is-flex">
        <img src="/assets/photo.png" alt="">
        <div class="desc is-flex is-column">
            <span><app-text class="subtitle animate">Let’s try saying <br> something.</app-text></span>
            <div class="description">
                <div class="part is-flex">
                    <app-text class="number">01.</app-text>
                    <div class="detail">
                        <app-text class="detail-title">Multitasking</app-text>
                        <app-text class="detail-desc">
                            I have a strong capacity for learning, allowing me to quickly adapt to various fields. 
                            For instance, I am proficient in both full-stack development and mobile development.
                        </app-text>
                    </div>
                </div>
                <div class="part is-flex">
                    <app-text class="number">02.</app-text>
                    <div class="detail">
                        <app-text class="detail-title">Curious</app-text>
                        <app-text class="detail-desc">
                            I am a curious individual with a passion for learning and pushing my limits. I thrive 
                            on challenges, which drives me to continuously expand my knowledge and skills across various domains.
                        </app-text>
                    </div>
                </div>
            </div>
            <app-text class="bottom">Let’s work together !</app-text>
        </div>
    </div>
</div>