/* You can add global styles to this file, and also import other style files */
@import 'library.scss';

body {
    overflow-y: auto;
    ::-webkit-scrollbar {
        width: 3px;
    }
    box-sizing: border-box;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
button {
    font-family: "Jura" !important;
}

.no-scroll {
    overflow: hidden;
}